:root {
  --main_bg: #171123;
  --font: #e0e0e2;
  --logo_size: 120px;
}
body {
  background-color: var(--main_bg);
  color: var(--font);
}
#cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 3px black solid;
}
.card {
  border: 1px red solid;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#scores {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#logo_img {
  height: var(--logo_size);
  width: var(--logo_size);
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#left {
  display: flex;
  gap: 32px;
}
